@model IEnumerable<AAMG.AppMVC.Models.Mascota>

@{
    ViewData["Title"] = "Index";
}

<h1>REGISTRO DE MASCOTAS</h1>

<p>
    <a asp-action="Create">AGREGAR REGISTRO</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Raza)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Edad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dueño)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Antecedentes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Raza)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Edad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dueño)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Antecedentes)
            </td>
            <td>
                <a class = "btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a class = "btn btn-secondary" asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                <a class = "btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
